<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TaskManager</title>
</head>

<body>
	<h1 th:text="${project.name}"></h1>
	<h4 th:text="${project.description}" style="color: green"></h4>
	<div th:if="${members.size()>0}">
		<h3>Shared Project With:</h3>
		<ul>
			<li th:each="member : ${members}">
				<div th:text="${member.firstName} + ' ' + ${member.lastName}"></div>
			</li>
		</ul>
	</div>
	<h3>Tasks</h3>
	<ul>
		<li th:each="task : ${project.tasks}"><a
			th:href="'/task/' + ${task.id} +'/project/' + ${project.id}" th:text="${task.name}"></a>
			<div th:text="${task.description}" style="color: pink"></div> <a
			th:href="'/updateTask/' + ${task.id} + '/project/' + ${project.id}">Update</a>
			<form method="POST"
				th:action="@{'/projects/' + ${project.id} + '/deleteTask/' + ${task.id}}">
				<button type="submit" name="submit" value="value">delete
					Task</button>
			</form> <a th:href="@{'/projects/task/' + ${task.id} + '/' + ${project.id}}">Share
				task with</a></li>
	</ul>
	<a th:href="@{'/task/add/' + ${project.id}}">Add Task</a>
	<h4>Share project with</h4>
	<a th:href="'/projects' + '/share/' + ${project.id}">Share Project
		with</a>
	<h5>Tags Project</h5>
	<ul>
	<li th:each="tag : ${project.tags}">
		<div th:text="${tag.name} + ' ' + ${tag.description} + ' ' + ${tag.color}"></div>
	</li>
	</ul>
	<a th:href="'/project/addTag/' + ${project.id}">Add Tag</a>
	<h5><a th:href="@{/home}">Home</a></h5>
</body>
</html>
