<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<head>
<meta charset="UTF-8">
<title>TaskManager</title>
</head>
<body>
	<h1>Share a Task</h1>
	<form   
		th:action="@{'/task/' + ${task.id} + '/' + ${project.id}}"
		method="POST">
		
		<table>
			<tr>
				<td><label for="userNameInput">Username</label>
				<td><input id=userNameInput type="text" placeholder="USERNAME" th:name="userName" required /></td>
				</tr>
		</table>
		<button type="submit" name="submit" value="value">Share Task</button>
	</form>
</body>
</html>