<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>

<body>
	<h1>Update Task</h1>
	<form th:action="@{'/updateTask/task/'+ ${task.id} + '/project/' + ${project.id}}" method="POST">
		<table>
			<tr>
				<td><label for="nameInput">Task Name</label></td>
				<td><input id=nameInput type="text" th:field="${task.name}"
					placeholder="NAME" required /></input></td>
				<td th:if="${#fields.hasErrors('task.name')}"
					th:errors="${task.name}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><label for="descriptionInput">Task Description</label></td>
				<td><input id="descriptionInput" type="text"
					th:field="${task.description}" placeholder="DESCRIPTION"></input></td>
				<td th:if="${#fields.hasErrors('task.description')}"
					th:errors="${task.description}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>
					<button type="submit">Update</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>